:root {
    --sc-ext-orange: #ff8c20;
    --sc-ext-pink:   #ff20f4;
}

:root {
    --sc-ext-color:   var(--sc-ext-orange);
}

.sc-download-button {
    background-color: transparent;
    display: flex;
    height: 26px;
    padding: 2px 5px;
    border: 1px solid var(--sc-ext-color);
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
    margin-left: 3px;
}

.sc-download-button-small {
    height: 20px;
    padding: 2px 3px;
}

.sc-download-button:focus {
    outline: none;
}

.sc-download-button:hover {
    filter: brightness(75%) hue-rotate(-20deg) saturate(150%);
}

.sc-download-img {
    height: 18px;
    width: auto;
}

.sc-download-img-small {
    height: 14px;
    width: auto;
}

.sc-download-text {
    color: var(--sc-ext-color);
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 12px;
}

.sc-download-text-small {
    font-size: 11px;
}

.sc-download-text-hide {
    display: none;
}

.sc-download-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}

.sc-download-spinner-small {
    width: 30px;
}

.sc-download-spinner {
    width: auto;
    height: 20px;
}

.sc-ext-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

.sc-ext-row-container:first-child {
    margin-top: 0px;
}

.sc-ext-row-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10px;
    width: 100%;
    padding: 1px 0px;
    margin-top: 10px;
}

.sc-ext-text {
    color: var(--sc-ext-color);
}

.sc-ext-h1 {
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,Garuda, Verdana, Tahoma, sans-serif;
    color: var(--sc-ext-color);
    font-weight: bold;
    font-size: 13px;
    margin-bottom: -9px;
}

.sc-ext-h2 {
    width: 100%;
    color: #ffffff;
    font-size: 12px;
    margin: 14px 0 -3px 0;
    align-self: left;
    display: flex;
}

.sc-ext-h2:before, .sc-ext-h2:after {
    content: '';
    flex: 1;
    margin: auto 6px;
    height: 0px;
    border-top: solid var(--sc-ext-color) 1px;
}
